body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}


@media(max-width:768px){
    h6.display-4{
        font-size:250%;
    }
    
    h4{
        font-size:150%;
    }
    h5{
        font-size:150%;
    }
    .btn{
        width: 45%;
    }
    .lead{
        font-size: 100%;
    }
}

@media(max-width:576px){
    h6.display-4{
        font-size:200%;
    }
    h5{
        font-size:100%;
    }
    h4{
        font-size:100%;
    }
   p.lead{
        font-size: 80%;
    }
    p{
        font-size: 70%
    }
    #food-container{
        width:70%;
        margin-left: 4.2rem;
    }
    .textComment{
        font-size: 70%;
    }
    .commments{
        margin:0 1.5rem;
    }
    
}

.welcome {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(backg.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;

}

.navbar li a {
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    transition: 0.6s ease;
}

.navbar li a:hover:not(.active) {
    background-color: darkslategrey;
    color: white;
    opacity: 0.9;

}

.navbar .active {
    background-color: darkslategrey;
    color: black;
    opacity: 0.9;
    border-radius: 25px;
}

input[type=search] {
    width: 95%;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;

}

.inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
    text-align: center;
}

.search {
    margin-left: 15px;
}

.orange {
    width: 60%;
}

#foodproducts {
    padding: 1.2rem 0;
}
ul{
    list-style-type: none;}

.img-container {
    overflow: hidden;
    position: relative;
    transition: all 0.3s linear;
}

.purchase-btn {
    position: absolute;
    top: 70%;
    right: 0;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all 0.3s linear;
    margin-right: -250px;
    cursor: pointer;
}

.purchase-btn:hover {
    color: white;
    background-color: #563d7c;
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: all 0.3s linear;

}

.img-container:hover .product-img {
    opacity: 0.5;
    transform: scale(1.3, 1.3);
    transition: all 0.3s linear;
}

.img-container:hover .purchase-btn {
    transition: all 0.3s linear;
    margin-right: 0px;

}

#product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

#product h4 {
    text-transform: capitalize;
    margin-top: 0.7rem;
    letter-spacing: 0.1rem;
    text-align: center;
    background-color: #563d7c;
    border-radius: 20px;
    /*    display: inline-block;*/
    color: white;
}

.img-container .product-img {
    max-width: 100%;
}

.img-container:hover {
    transform: scale(1.1, 1.1);
}

.lead {
    font-size: 1.1rem;
}

/*cart section*/

.cartbtn:hover{
    transform: scale(1.1,1.1);
    transition: all 0.2s linear;
    cursor: pointer;
}
.cartbtn{
    display:inline-block;
    transform: scale(1,1);
    z-index: 8;
    
    border-radius:50%;
}
.cliked{
    background-color: #563d7c;
    position: fixed;
    z-index: 
}

.cart-items{
    position: absolute;
    top:-10px;
    right:-6px;
    border-radius:30%;
    background-color:#563d7c;
    padding:0.5px;
    color: white;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
    
    
}
.hello{
   justify-content:space-between;
    margin-left: 1.2rem;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.overlay{
    transform: translate(100%);
}
.purchase-cart{
    width: 40%;
    background-color: #563d7c;
}
.purchase-cart:hover{
    color: white;
    background-color:green;
    transition:all 0.6s linear;
}

/*end of cart section*/
.decrement{
   cursor:pointer;
}
.increment{
   cursor: pointer;
}


.delete {
    background-color: #563d7c;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 1.5rem;
    cursor: pointer;
    bottom: 0;
    position: absolute;
    right: 0;

}

.padding {
    padding: 1.2rem;
}

.comment {
    padding: 0.7 0rem;
    background-color: beige;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 1.5rem;
    position: relative;
}

.delete:hover {
    transform: scale(1.1, 1.1);
    background-color: dodgerblue;
}

.comment-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.blue {
    width: 20%;
}

.tabbed {
    padding-top: 2rem;
}

input[type=text] {
    width: 95%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    /*    background-color: beige;*/
    border-bottom: 1px solid grey;

}

.reply {
    background-color: #563d7c;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 1.5rem;
    cursor: pointer;
    bottom: 0;
    position: absolute;
    right: 0;
    font-size: 1.2rem;

}

.reply:hover {
    transform: scale(1.1, 1.1);
    background-color: dodgerblue;
}

.profile {
    padding: 0.5rem;
}

.tabbed li:hover {
    background-color: dodgerblue;
    cursor: pointer;
}
.tabbed li {
    background-color: #ddd;
}



.tabbed .panel {
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;

}

.tabbed .panel.active {
    display: block;
    /*
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
*/

}

.panel-body a.btn-secondary{
    margin-left: 0.5rem;
}

.panel-body a.btn-secondary:hover {
    background-color: white;
    color: black;
    
}

.panel-body a.btn-primary{
    margin-left: 0.5rem;
}

.panel-body a.btn-primary:hover {
    background-color: #563d7c;
}

footer{
    background-color: #563d7c;
    color: #d5d5d5;
    margin-top: 3rem;
    padding-top: 1.2rem;
    position: relative;
    
    
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width:70%;
    
}
.subscribe{
     margin-left: 3.2rem;
    text-align: center;
    position: relative;
}
input[type=email] {
    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;

}
.submit{
position: absolute;
right: 2rem;
    top:0;
}
.red{
     border-top: 1px solid #d5d5d5;
    width:20%;
}

.follow{
margin-top:1.2rem;
}
.social a img{
        width:65px;
        padding: 1rem;
    }
.copywright{
    background-color: #3f3f3f;
    color: #d5d5d5;
}
.padding2 {
    padding: 0.1rem;
}
.finishline{
    border-top: 1px solid #d5d5d5;
}
.social a img:hover{
   opacity: 0.6;
    transform: scale(1.2,1.2);
    
}